<!DOCTYPE html>
<html>
{% include "site_head.html" %}
	<body>
		<div class="ui grid">
			<div class="five wide column"></div>
			<div class="six wide column">
				<div class="ui action input">
				  <input type="text" placeholder="Song name" style="width:290px;">
				  <div class="ui teal button"><i class="headphones icon"></i> Add Song</div>
				</div>
			</div>
			<div class="five wide column"></div>
		</div>
		<br/>
		<div class="ui grid">
			<div class="four wide column"></div>
			<div class="eight wide column">
			  <div class="ui raised segment">
			  	<div class="ui ribbon label">40 <i class="like icon"></i></div>
			  	<a class="like ui corner label">
			        <i class="like icon"></i>
			    </a>
			  <a href="youtube.com">Gangnam Style Super Remix</a>
			  </div>
			</div>
			<div class="four wide column"></div>
		</div>
	</body>

</html>
